# Import Relevant Data

In [1]:
import pandas as pd
import ast
import numpy as np
import math
import time
from pandas.core.frame import DataFrame
import matplotlib.pyplot as plt 
from sklearn import datasets, linear_model
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
from scipy import stats

In [2]:
df_cryp=pd.read_csv('https://raw.githubusercontent.com/SunYutongAmber/SignatureWork/main/Data/gas_rarity_usd_merged.csv')
df_cryp

,Unnamed: 0,Unnamed: 0.1,date_x,from,to,eth_price,punk_id,type,gender,skin_tone,...,skin_tone_color,img_url,Rarity_Score_1_rarest,Rarity_Score_2_Average,Rarity_Score_3_multiple,timestamp,date_y,gas_eth_price,date,eth_usd_price
0,2458,2458,2018-01-18,2794,15,0.15,5289,Human,Male,Dark,...,#A4031F,https://www.larvalabs.com/cryptopunks/cryptopu...,12.040656,9.048897,72.931919,1.516234e+09,2018-1-18,0.056103,2018-1-18,991.01
1,2459,2459,2018-01-18,809,920,0.09,8994,Human,Female,Dark,...,#A4031F,https://www.larvalabs.com/cryptopunks/cryptopu...,74.786090,26.889225,486.899335,1.516234e+09,2018-1-18,0.056103,2018-1-18,991.01
2,2462,2462,2018-01-18,1303,2450,0.09,4679,Human,Male,Albino,...,#F2DC5D,https://www.larvalabs.com/cryptopunks/cryptopu...,7.460154,6.064456,34.829651,1.516234e+09,2018-1-18,0.056103,2018-1-18,991.01
3,319,319,2018-01-18,1303,2030,0.25,9863,Human,Male,Dark,...,#A4031F,https://www.larvalabs.com/cryptopunks/cryptopu...,1.478706,1.478706,1.478706,1.516234e+09,2018-1-18,0.056103,2018-1-18,991.01
4,2473,2473,2018-01-19,1303,5126,0.14,1575,Human,Male,Medium,...,#DB9065,https://www.larvalabs.com/cryptopunks/cryptopu...,7.585070,5.654169,166.565775,1.516320e+09,2018-1-19,0.052589,2018-1-19,979.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16775,12450,12450,2022-07-26,980,1939,94.00,9099,Human,Male,Light,...,#F2A359,https://www.larvalabs.com/cryptopunks/cryptopu...,5.427700,3.061263,0.000000,1.658794e+09,2022-7-26,0.001820,2022-7-26,1450.91
16776,17440,17440,2022-07-26,5318,4950,69.00,4430,Human,Female,Albino,...,#F2DC5D,https://www.larvalabs.com/cryptopunks/cryptopu...,4.715707,4.285346,18.178976,1.658794e+09,2022-7-26,0.001820,2022-7-26,1450.91
16777,17613,17613,2022-07-26,3002,1044,94.90,5600,Human,Male,Albino,...,#F2DC5D,https://www.larvalabs.com/cryptopunks/cryptopu...,18.331532,8.951758,329.930659,1.658794e+09,2022-7-26,0.001820,2022-7-26,1450.91
16778,13214,13214,2022-07-27,3096,1028,69.69,6221,Human,Female,Dark,...,#A4031F,https://www.larvalabs.com/cryptopunks/cryptopu...,19.315489,7.224599,0.000000,1.658880e+09,2022-7-27,0.001720,2022-7-27,1635.98
16779,17559,17559,2022-07-27,402,1955,104.95,2567,Human,Male,Light,...,#F2A359,https://www.larvalabs.com/cryptopunks/cryptopu...,9.775091,5.560499,78.454598,1.658880e+09,2022-7-27,0.001720,2022-7-27,1635.98

# Volume of Active Market Wallet & Daily Change Rate

In [3]:
df_group=df_cryp.groupby('date_x').count()
active_wallet=np.array(df_group['Unnamed: 0'])*2
df_wallet=DataFrame({"active_wallet": active_wallet,
                     "date":df_group.index})
df_wallet

      active_wallet        date
0                 8  2018-01-18
1                12  2018-01-19
2                38  2018-01-20
3                 4  2018-01-22
4                12  2018-01-23
...             ...         ...
1212              4  2022-07-22
1213              4  2022-07-23
1214             12  2022-07-25
1215              6  2022-07-26
1216              4  2022-07-27

[1217 rows x 2 columns]

In [4]:
df_wallet['active_wallet_shift']=df_wallet['active_wallet'].shift(1)
df_wallet['active_wallet_shift'][0]=3
df_wallet

<ipython-input-4-51ec93477ae8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_wallet['active_wallet_shift'][0]=3

      active_wallet        date  active_wallet_shift
0                 8  2018-01-18                  3.0
1                12  2018-01-19                  8.0
2                38  2018-01-20                 12.0
3                 4  2018-01-22                 38.0
4                12  2018-01-23                  4.0
...             ...         ...                  ...
1212              4  2022-07-22                  4.0
1213              4  2022-07-23                  4.0
1214             12  2022-07-25                  4.0
1215              6  2022-07-26                 12.0
1216              4  2022-07-27                  6.0

[1217 rows x 3 columns]

In [5]:
wallet_change=(np.array(df_wallet['active_wallet'])-np.array(df_wallet['active_wallet_shift']))/np.array(df_wallet['active_wallet_shift'])
df_wallet['wallet_change']=wallet_change
df_wallet['wallet_change']

0       1.666667
1       0.500000
2       2.166667
3      -0.894737
4       2.000000
          ...
1212    0.000000
1213    0.000000
1214    2.000000
1215   -0.500000
1216   -0.333333
Name: wallet_change, Length: 1217, dtype: float64

In [6]:
df_cryp=df_cryp.merge(df_wallet, left_on='date_x', right_on='date')

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:9190: FutureWarning: Passing 'suffixes' which cause duplicate columns {'date_x'} in the result is deprecated and will raise a MergeError in a future version.
  return merge(

In [7]:
df_cryp.to_csv('wallet_rarity_usd_gas_merged.csv')
df_cryp

,Unnamed: 0,Unnamed: 0.1,date_x,from,to,eth_price,punk_id,type,gender,skin_tone,...,Rarity_Score_3_multiple,timestamp,date_y,gas_eth_price,date_x,eth_usd_price,active_wallet,date_y,active_wallet_shift,wallet_change
0,2458,2458,2018-01-18,2794,15,0.15,5289,Human,Male,Dark,...,72.931919,1.516234e+09,2018-1-18,0.056103,2018-1-18,991.01,8,2018-01-18,3.0,1.666667
1,2459,2459,2018-01-18,809,920,0.09,8994,Human,Female,Dark,...,486.899335,1.516234e+09,2018-1-18,0.056103,2018-1-18,991.01,8,2018-01-18,3.0,1.666667
2,2462,2462,2018-01-18,1303,2450,0.09,4679,Human,Male,Albino,...,34.829651,1.516234e+09,2018-1-18,0.056103,2018-1-18,991.01,8,2018-01-18,3.0,1.666667
3,319,319,2018-01-18,1303,2030,0.25,9863,Human,Male,Dark,...,1.478706,1.516234e+09,2018-1-18,0.056103,2018-1-18,991.01,8,2018-01-18,3.0,1.666667
4,2473,2473,2018-01-19,1303,5126,0.14,1575,Human,Male,Medium,...,166.565775,1.516320e+09,2018-1-19,0.052589,2018-1-19,979.57,12,2018-01-19,8.0,0.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16775,12450,12450,2022-07-26,980,1939,94.00,9099,Human,Male,Light,...,0.000000,1.658794e+09,2022-7-26,0.001820,2022-7-26,1450.91,6,2022-07-26,12.0,-0.500000
16776,17440,17440,2022-07-26,5318,4950,69.00,4430,Human,Female,Albino,...,18.178976,1.658794e+09,2022-7-26,0.001820,2022-7-26,1450.91,6,2022-07-26,12.0,-0.500000
16777,17613,17613,2022-07-26,3002,1044,94.90,5600,Human,Male,Albino,...,329.930659,1.658794e+09,2022-7-26,0.001820,2022-7-26,1450.91,6,2022-07-26,12.0,-0.500000
16778,13214,13214,2022-07-27,3096,1028,69.69,6221,Human,Female,Dark,...,0.000000,1.658880e+09,2022-7-27,0.001720,2022-7-27,1635.98,4,2022-07-27,6.0,-0.333333
16779,17559,17559,2022-07-27,402,1955,104.95,2567,Human,Male,Light,...,78.454598,1.658880e+09,2022-7-27,0.001720,2022-7-27,1635.98,4,2022-07-27,6.0,-0.333333

# Volume of Cryptopunks Sales Daily Change Rate

In [8]:
df_cryp

,Unnamed: 0,Unnamed: 0.1,date_x,from,to,eth_price,punk_id,type,gender,skin_tone,...,Rarity_Score_3_multiple,timestamp,date_y,gas_eth_price,date_x,eth_usd_price,active_wallet,date_y,active_wallet_shift,wallet_change
0,2458,2458,2018-01-18,2794,15,0.15,5289,Human,Male,Dark,...,72.931919,1.516234e+09,2018-1-18,0.056103,2018-1-18,991.01,8,2018-01-18,3.0,1.666667
1,2459,2459,2018-01-18,809,920,0.09,8994,Human,Female,Dark,...,486.899335,1.516234e+09,2018-1-18,0.056103,2018-1-18,991.01,8,2018-01-18,3.0,1.666667
2,2462,2462,2018-01-18,1303,2450,0.09,4679,Human,Male,Albino,...,34.829651,1.516234e+09,2018-1-18,0.056103,2018-1-18,991.01,8,2018-01-18,3.0,1.666667
3,319,319,2018-01-18,1303,2030,0.25,9863,Human,Male,Dark,...,1.478706,1.516234e+09,2018-1-18,0.056103,2018-1-18,991.01,8,2018-01-18,3.0,1.666667
4,2473,2473,2018-01-19,1303,5126,0.14,1575,Human,Male,Medium,...,166.565775,1.516320e+09,2018-1-19,0.052589,2018-1-19,979.57,12,2018-01-19,8.0,0.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16775,12450,12450,2022-07-26,980,1939,94.00,9099,Human,Male,Light,...,0.000000,1.658794e+09,2022-7-26,0.001820,2022-7-26,1450.91,6,2022-07-26,12.0,-0.500000
16776,17440,17440,2022-07-26,5318,4950,69.00,4430,Human,Female,Albino,...,18.178976,1.658794e+09,2022-7-26,0.001820,2022-7-26,1450.91,6,2022-07-26,12.0,-0.500000
16777,17613,17613,2022-07-26,3002,1044,94.90,5600,Human,Male,Albino,...,329.930659,1.658794e+09,2022-7-26,0.001820,2022-7-26,1450.91,6,2022-07-26,12.0,-0.500000
16778,13214,13214,2022-07-27,3096,1028,69.69,6221,Human,Female,Dark,...,0.000000,1.658880e+09,2022-7-27,0.001720,2022-7-27,1635.98,4,2022-07-27,6.0,-0.333333
16779,17559,17559,2022-07-27,402,1955,104.95,2567,Human,Male,Light,...,78.454598,1.658880e+09,2022-7-27,0.001720,2022-7-27,1635.98,4,2022-07-27,6.0,-0.333333

In [9]:
sales=df_cryp.groupby('timestamp')['eth_price'].sum()
sales

timestamp
1.516234e+09      0.58
1.516320e+09      0.79
1.516406e+09      2.46
1.516579e+09      0.80
1.516666e+09      1.24
                 ...
1.658448e+09    177.00
1.658534e+09    198.00
1.658707e+09    410.40
1.658794e+09    257.90
1.658880e+09    174.64
Name: eth_price, Length: 1217, dtype: float64

In [10]:
df_sales=DataFrame({'daily_sales':sales,
                    'date_z':df_group.index})
df_sales

              daily_sales      date_z
timestamp
1.516234e+09         0.58  2018-01-18
1.516320e+09         0.79  2018-01-19
1.516406e+09         2.46  2018-01-20
1.516579e+09         0.80  2018-01-22
1.516666e+09         1.24  2018-01-23
...                   ...         ...
1.658448e+09       177.00  2022-07-22
1.658534e+09       198.00  2022-07-23
1.658707e+09       410.40  2022-07-25
1.658794e+09       257.90  2022-07-26
1.658880e+09       174.64  2022-07-27

[1217 rows x 2 columns]

In [11]:
df_sales['sales_shift']=df_sales['daily_sales'].shift(1)
df_sales['sales_shift'][0]=0.42
change_sales=(np.array(df_sales['daily_sales'])-np.array(df_sales['sales_shift']))/np.array(df_sales['sales_shift'])
change_sales

<ipython-input-11-c0bd02db3cfe>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sales['sales_shift'][0]=0.42
<ipython-input-11-c0bd02db3cfe>:3: RuntimeWarning: divide by zero encountered in true_divide
  change_sales=(np.array(df_sales['daily_sales'])-np.array(df_sales['sales_shift']))/np.array(df_sales['sales_shift'])

array([ 0.38095238,  0.36206897,  2.11392405, ...,  1.07272727,
       -0.37158869, -0.32283831])

In [12]:
df_sales['daily_sales_change']=change_sales
df_sales

              daily_sales      date_z  sales_shift  daily_sales_change
timestamp
1.516234e+09         0.58  2018-01-18         0.42            0.380952
1.516320e+09         0.79  2018-01-19         0.58            0.362069
1.516406e+09         2.46  2018-01-20         0.79            2.113924
1.516579e+09         0.80  2018-01-22         2.46           -0.674797
1.516666e+09         1.24  2018-01-23         0.80            0.550000
...                   ...         ...          ...                 ...
1.658448e+09       177.00  2022-07-22       168.68            0.049324
1.658534e+09       198.00  2022-07-23       177.00            0.118644
1.658707e+09       410.40  2022-07-25       198.00            1.072727
1.658794e+09       257.90  2022-07-26       410.40           -0.371589
1.658880e+09       174.64  2022-07-27       257.90           -0.322838

[1217 rows x 4 columns]

In [13]:
df_cryp=df_cryp.merge(df_sales,left_on='timestamp',right_on='timestamp')

In [14]:
df_cryp.to_csv('sales_wallet_rarity_gas_usd.csv')

In [15]:
df_cryp

,Unnamed: 0,Unnamed: 0.1,date_x,from,to,eth_price,punk_id,type,gender,skin_tone,...,date_x,eth_usd_price,active_wallet,date_y,active_wallet_shift,wallet_change,daily_sales,date_z,sales_shift,daily_sales_change
0,2458,2458,2018-01-18,2794,15,0.15,5289,Human,Male,Dark,...,2018-1-18,991.01,8,2018-01-18,3.0,1.666667,0.58,2018-01-18,0.42,0.380952
1,2459,2459,2018-01-18,809,920,0.09,8994,Human,Female,Dark,...,2018-1-18,991.01,8,2018-01-18,3.0,1.666667,0.58,2018-01-18,0.42,0.380952
2,2462,2462,2018-01-18,1303,2450,0.09,4679,Human,Male,Albino,...,2018-1-18,991.01,8,2018-01-18,3.0,1.666667,0.58,2018-01-18,0.42,0.380952
3,319,319,2018-01-18,1303,2030,0.25,9863,Human,Male,Dark,...,2018-1-18,991.01,8,2018-01-18,3.0,1.666667,0.58,2018-01-18,0.42,0.380952
4,2473,2473,2018-01-19,1303,5126,0.14,1575,Human,Male,Medium,...,2018-1-19,979.57,12,2018-01-19,8.0,0.500000,0.79,2018-01-19,0.58,0.362069
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16775,12450,12450,2022-07-26,980,1939,94.00,9099,Human,Male,Light,...,2022-7-26,1450.91,6,2022-07-26,12.0,-0.500000,257.90,2022-07-26,410.40,-0.371589
16776,17440,17440,2022-07-26,5318,4950,69.00,4430,Human,Female,Albino,...,2022-7-26,1450.91,6,2022-07-26,12.0,-0.500000,257.90,2022-07-26,410.40,-0.371589
16777,17613,17613,2022-07-26,3002,1044,94.90,5600,Human,Male,Albino,...,2022-7-26,1450.91,6,2022-07-26,12.0,-0.500000,257.90,2022-07-26,410.40,-0.371589
16778,13214,13214,2022-07-27,3096,1028,69.69,6221,Human,Female,Dark,...,2022-7-27,1635.98,4,2022-07-27,6.0,-0.333333,174.64,2022-07-27,257.90,-0.322838
16779,17559,17559,2022-07-27,402,1955,104.95,2567,Human,Male,Light,...,2022-7-27,1635.98,4,2022-07-27,6.0,-0.333333,174.64,2022-07-27,257.90,-0.322838

# Cryptopunk Price(USD)

In [16]:
df_cryp['Price']=np.array(df_cryp['eth_price'])*np.array(df_cryp['eth_usd_price'])
df_cryp

,Unnamed: 0,Unnamed: 0.1,date_x,from,to,eth_price,punk_id,type,gender,skin_tone,...,eth_usd_price,active_wallet,date_y,active_wallet_shift,wallet_change,daily_sales,date_z,sales_shift,daily_sales_change,Price
0,2458,2458,2018-01-18,2794,15,0.15,5289,Human,Male,Dark,...,991.01,8,2018-01-18,3.0,1.666667,0.58,2018-01-18,0.42,0.380952,148.6515
1,2459,2459,2018-01-18,809,920,0.09,8994,Human,Female,Dark,...,991.01,8,2018-01-18,3.0,1.666667,0.58,2018-01-18,0.42,0.380952,89.1909
2,2462,2462,2018-01-18,1303,2450,0.09,4679,Human,Male,Albino,...,991.01,8,2018-01-18,3.0,1.666667,0.58,2018-01-18,0.42,0.380952,89.1909
3,319,319,2018-01-18,1303,2030,0.25,9863,Human,Male,Dark,...,991.01,8,2018-01-18,3.0,1.666667,0.58,2018-01-18,0.42,0.380952,247.7525
4,2473,2473,2018-01-19,1303,5126,0.14,1575,Human,Male,Medium,...,979.57,12,2018-01-19,8.0,0.500000,0.79,2018-01-19,0.58,0.362069,137.1398
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16775,12450,12450,2022-07-26,980,1939,94.00,9099,Human,Male,Light,...,1450.91,6,2022-07-26,12.0,-0.500000,257.90,2022-07-26,410.40,-0.371589,136385.5400
16776,17440,17440,2022-07-26,5318,4950,69.00,4430,Human,Female,Albino,...,1450.91,6,2022-07-26,12.0,-0.500000,257.90,2022-07-26,410.40,-0.371589,100112.7900
16777,17613,17613,2022-07-26,3002,1044,94.90,5600,Human,Male,Albino,...,1450.91,6,2022-07-26,12.0,-0.500000,257.90,2022-07-26,410.40,-0.371589,137691.3590
16778,13214,13214,2022-07-27,3096,1028,69.69,6221,Human,Female,Dark,...,1635.98,4,2022-07-27,6.0,-0.333333,174.64,2022-07-27,257.90,-0.322838,114011.4462
16779,17559,17559,2022-07-27,402,1955,104.95,2567,Human,Male,Light,...,1635.98,4,2022-07-27,6.0,-0.333333,174.64,2022-07-27,257.90,-0.322838,171696.1010

# ROI

## roi1

In [17]:
number = df_cryp.groupby(['punk_id']).count()
max(number['type'])

15

In [18]:
roi = df_cryp.groupby(['punk_id']).agg({'Price':['min','max']})
#roi.rename(columns={'data1':'data1_min'},inplace=True)#修改列名
roi=roi['Price']
roi

                   min          max
punk_id
1          5129.880000    5129.8800
14          232.800000     232.8000
53        27461.400000  431963.2695
89         7049.473500    7049.4735
118       36928.102500   66122.2120
...                ...          ...
9980      80928.530400   87877.5375
9982     404981.100000  483357.4900
9990          0.029114  225545.1070
9997     174868.511400  174868.5114
9998      10269.900000  347898.1000

[5909 rows x 2 columns]

In [19]:
roi['ROI'] = (roi['max']-roi['min'])/roi['min']
roi

                   min          max           ROI
punk_id
1          5129.880000    5129.8800  0.000000e+00
14          232.800000     232.8000  0.000000e+00
53        27461.400000  431963.2695  1.472983e+01
89         7049.473500    7049.4735  0.000000e+00
118       36928.102500   66122.2120  7.905662e-01
...                ...          ...           ...
9980      80928.530400   87877.5375  8.586597e-02
9982     404981.100000  483357.4900  1.935310e-01
9990          0.029114  225545.1070  7.746961e+06
9997     174868.511400  174868.5114  0.000000e+00
9998      10269.900000  347898.1000  3.287551e+01

[5909 rows x 3 columns]

## roi2

In [20]:
roi2 = df_cryp.groupby(['punk_id'])['timestamp','punk_id','Price']
roi2.get_group(197)

<ipython-input-20-5cb3efb4e904>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  roi2 = df_cryp.groupby(['punk_id'])['timestamp','punk_id','Price']

          timestamp  punk_id      Price
14026  1.638490e+09      197  295244.60
14339  1.640822e+09      197  241112.30
14343  1.640822e+09      197  237402.88
14545  1.642810e+09      197       0.00
14563  1.642810e+09      197       0.00

In [21]:
df_cryp.loc[1,'timestamp']

1516233600.0

In [24]:
list_roi=[]
rq=[] #date
for i in roi.index:
  if len(list(roi2.get_group(i).index)) >1:
    for j in range(len(list(roi2.get_group(i).index)[0:-1])):
     
      a=(roi2.get_group(i).iloc[j+1,2]-roi2.get_group(i).iloc[j,2])/roi2.get_group(i).iloc[j,2]
      list_roi.append(a) 
      b=df_cryp.loc[j,'timestamp']
      rq.append(b)

list_roi

<ipython-input-24-3b6c0ea0f800>:7: RuntimeWarning: invalid value encountered in double_scalars
  a=(roi2.get_group(i).iloc[j+1,2]-roi2.get_group(i).iloc[j,2])/roi2.get_group(i).iloc[j,2]
<ipython-input-24-3b6c0ea0f800>:7: RuntimeWarning: divide by zero encountered in double_scalars
  a=(roi2.get_group(i).iloc[j+1,2]-roi2.get_group(i).iloc[j,2])/roi2.get_group(i).iloc[j,2]

[0.5663265529069897,
 9.04249988143263,
 0.7905661954875693,
 0.40928969286678923,
 0.15086771950939581,
 0.05172413793103442,
 3.3118160493741926,
 0.38682406568196126,
 1.8534539879090142,
 0.1255764769126302,
 0.9659225474576087,
 0.23432695568093984,
 0.11167395438016321,
 0.0693617572645375,
 0.9918685590020917,
 3.1308585501068396,
 0.16194805194805195,
 61.12215450409951,
 0.48064783753562046,
 3.20780529694719,
 -0.18334729915466688,
 -0.015384615384615436,
 -1.0,
 nan,
 6.806518552845658,
 -0.25404451075469364,
 0.24902975251792753,
 -0.5160996882729567,
 8.101871228951962,
 0.07382166725290178,
 0.12989118466670083,
 0.3366015571488037,
 1.2872286999339204,
 -0.010264464916849644,
 1.6359998402659988,
 0.7923502673050624,
 0.2154625967781259,
 0.07969721726661887,
 0.36605127240582425,
 0.45613584776763416,
 0.5125005566888552,
 4.432368728191631,
 0.7193876090194389,
 0.0,
 -0.8063921395537411,
 -0.36889368762668184,
 -0.10607751519430993,
 3.284402107905663,
 25.94226093829197,
 31.757517154737005,
 -0.8650863893878503,
 -0.22241535116563396,
 0.2628704027544385,
 0.26904721355920747,
 0.15474245027766428,
 -0.5432100327846022,
 -0.009300647237700665,
 0.1828697270298698,
 0.18047218887555036,
 -0.3442763824894682,
 0.9475996344697859,
 13.639719666359316,
 0.136340909101241,
 -0.12434667786186127,
 -0.5629567408505433,
 0.4018654054203864,
 3.984978423553832,
 8.642886601468334,
 -1.0,
 1.9624265077204608,
 0.4830085233889544,
 -0.16100468660819783,
 -0.025506866970188762,
 -0.40286606660576463,
 4.192797253953071,
 1.0919248233320427,
 -0.2090786557740287,
 1.7956812790772803,
 0.7304433405401811,
 0.20841100669630297,
 5.042485771144723,
 -0.19957275100878236,
 8.130910256173824,
 4.453738697220718,
 0.23177648040033358,
 0.11922684285100678,
 0.786124290081476,
 0.20403796007787212,
 -0.17606121397873978,
 10.181962509380812,
 0.6220534876688052,
 -1.0,
 inf,
 0.3511224803211718,
 0.6945541586948777,
 1.874497053996876,
 0.3565290330432356,
 0.6386939307572567,
 0.14979451358533877,
 0.2183265897113687,
 -0.06172243768360419,
 -0.31354288680643455,
 -0.4062992621722211,
 -0.476436204304709,
 -0.8838132009239011,
 0.1345358084664664,
 inf,
 -1.0,
 0.08843825988360612,
 3.9470066638258143,
 0.3761873562351522,
 -0.6065351417285908,
 5.052082542497929,
 2.5322021252143587,
 -0.4040176386525944,
 -0.049621944011525636,
 1.5778614989552555,
 0.04288009620034108,
 2.612370011002993,
 0.11539492788502374,
 0.044765708366320475,
 -0.011777687944437112,
 -1.0,
 inf,
 0.5222288316925326,
 -0.0240382600426742,
 -1.0,
 3.084251192897621,
 -0.25523743280738476,
 2.307831042101891,
 0.4437978128635722,
 0.06374439063089452,
 -0.12841579184569368,
 0.17078461016827906,
 1.4503872668776259,
 -0.09297052154195012,
 -0.08361111111111108,
 0.19480688472172894,
 2.2517592028838442,
 0.1346390984044662,
 -0.5027471958299273,
 -0.05739863085834649,
 0.41656437189292805,
 0.10055027513756888,
 0.2748641448282049,
 0.2870698715736072,
 -1.0,
 inf,
 5.461330784094645,
 0.5069149259635122,
 1.344171400962964,
 0.31304617140860835,
 -0.1976730255719406,
 0.31870445728328173,
 -0.08293577981651375,
 1.6096059094280153,
 0.018770541668367335,
 0.08205384435048124,
 4.252576370184388,
 0.03103448275862075,
 -0.052396878483834966,
 -0.2441955102576467,
 -0.39770329863301007,
 0.14461746091340602,
 0.05801220316262201,
 2.352760292040237,
 8.468287475791,
 -0.14515047505704437,
 -0.5311296555072264,
 0.2456864280836497,
 0.20531916541829784,
 2.474064645834767,
 2.584985463171629,
 0.4136524437584055,
 1.142698259649257,
 -0.30325154411402533,
 0.08564200802470492,
 1.0174908027615814,
 -0.010282776349614288,
 -0.3640644409647803,
 2.7262134241450635,
 -0.4831950049590982,
 -0.04867569018047372,
 1.2609783209207772,
 -0.19632772568899254,
 1.8921802917757253,
 2.193663983158723,
 0.13370612583668745,
 -1.0,
 nan,
 inf,
 0.1278848330679553,
 -1.0,
 inf,
 0.21761852563373302,
 3.8501914822724066,
 0.4741060729768476,
 0.7686694933813448,
 -0.04784688995215304,
 0.3939966288114774,
 0.23678447781636497,
 0.451521157878059,
 -0.1609854556469465,
 -1.0,
 nan,
 0.04569860710171551,
 0.7223951525122765,
 134.32527277720905,
 3.4392322660429686,
 5.118570300995037,
 -0.3954735301884602,
 -0.22783319467517724,
 0.03991136245711419,
 -0.7137727300587394,
 0.4039458666502154,
 0.9741331167182821,
 24.647125791951627,
 0.9308688533977054,
 -0.27169733069945085,
 0.07053722275179855,
 0.38519527912489926,
 1.9820682023981016,
 0.5486904578606745,
 0.6369321570533704,
 0.06190476190476198,
 0.714929228891326,
 -0.07372754491017966,
 0.8866660931368332,
 1.5134064730601628,
 0.0,
 0.7195313181654392,
 2.851658181639945,
 2.586999774175285,
 9.347343477176354,
 0.31330888708484184,
 0.24412146697070114,
 9.45679893383128,
 -0.14748596117351526,
 1.1710778010112814,
 -0.04566191859193108,
 9.64023177256317,
 -0.10441077692365107,
 -0.05094005776256201,
 0.029688396592910855,
 -0.7907551091304305,
 0.21476875459881556,
 0.13449589838581635,
 0.21845158149324448,
 1.515244594837152,
 0.32188546093149706,
 0.0846130329567904,
 2.382399834153909,
 700.7207134171057,
 1.5745480225988693,
 6.6028936391057425,
 -0.22583116539359693,
 0.6815142237528263,
 0.2643929096630352,
 -0.661339701200098,
 0.297009527239136,
 1.937019061593313,
 -0.45853854704516955,
 7.777333678955306,
 0.6474241049503469,
 -0.1472835535600699,
 -1.0,
 inf,
 -0.1455803953099113,
 0.0,
 1.5999134872528602,
 1.1952180540881159,
 0.11994883992573964,
 0.4277959765272203,
 -0.004591066551619278,
 0.8891102239521831,
 0.2808063331507387,
 0.3788174016511769,
 0.04069371351262904,
 0.50076110469136,
 0.7451510388780465,
 -0.7958199829279758,
 11.499140017040613,
 1.4325702670219185,
 -1.0,
 -1.0,
 nan,
 -1.0,
 -0.28070884486650444,
 0.0794349999647446,
 0.17872690448564096,
 0.3606828215537115,
 -0.036999493157627884,
 0.391769436699686,
 -0.8161810915935722,
 0.9911313501133645,
 -0.2758762453331867,
 -0.4052759273694127,
 0.2911362869009508,
 -0.6729090862346917,
 1.5970765589481424,
 0.09057660401983128,
 0.045882352941176464,
 0.44043732894899973,
 2.316042062040032,
 -0.029077737947585062,
 0.12377758240936818,
 0.8199001473171057,
 8.07707488018882,
 0.009106100213319486,
 1.09500823800057,
 0.20924788265917982,
 0.08000655112925642,
 -0.24614009347645988,
 -0.031790062485437906,
 -0.27963216672465285,
 -0.08261102761734178,
 7.976107311530868,
 0.25853203077985204,
 0.6229568092565565,
 -1.0,
 0.40391740209767407,
 0.9496293602014004,
 -1.0,
 inf,
 0.17428247587292,
 0.09212368702538613,
 -0.532005668005035,
 -0.06786866912205214,
 0.3412134452543321,
 0.8616058857475565,
 2.909519652508462,
 0.022265888228865275,
 0.4690190146464347,
 -1.0,
 0.06150572647535647,
 1.3265359541845407,
 -0.18817297293898694,
 0.014875061633813361,
 -0.2354381797178537,
 -0.5270159204992935,
 0.4150609846923716,
 1.0040208241778998,
 1.6657223091288382,
 0.022928055391210653,
 0.14062500000000003,
 10.176465635550766,
 1.0906279512466055,
 -1.0,
 inf,
 -0.22552233765299248,
 0.9610059193574406,
 1.0321105501825298,
 0.11567385383909363,
 0.3210063386056146,
 -0.4586894728169398,
 0.8704147751680176,
 0.0679824539104449,
 0.673796474356601,
 0.3592846232328063,
 0.2354329772599902,
 0.038093310180296346,
 1.1002604377757164,
 1.2856570188030132,
 0.7673182716919938,
 0.8637155253708356,
 0.05,
 0.4818919918552002,
 0.43400893216883085,
 0.16746344963673873,
 -0.09003545622519887,
 -0.2114115021735636,
 0.3621099547075264,
 0.13968792216837866,
 0.5935277593628415,
 0.11410527805337199,
 0.1856013208777163,
 nan,
 inf,
 0.10750839280763784,
 0.15486228763868123,
 0.2600923273194002,
 -0.02661233408837828,
 0.3212716795060794,
 3.943661155312828,
 -0.13621512025341334,
 -0.01047466178776224,
 1.0313432214675031,
 0.29675314895186955,
 0.11744827646765119,
 0.13243063485588488,
 0.29336704003731046,
 1.4076513721259523,
 6.5732574665584576,
 0.8875272318450479,
 0.21224984839296543,
 -0.12187523914301257,
 -0.14187242014944207,
 -0.4331811665369078,
 -1.0,
 1.241121448755047,
 -0.2543802086432239,
 0.7769985180681688,
 0.06359649122807008,
 0.4183512216448564,
 0.6385853643483098,
 0.7830138169019457,
 0.09432732437985779,
 0.24203701069005415,
 3.1412420586974963,
 0.6720230802399736,
 -0.7275761052657276,
 0.8353928325900333,
 0.8632827506723011,
 385.6763571385617,
 0.30456927207625467,
 0.3438614952228096,
 2.0447530575601163,
 -0.10000000000000002,
 1.1872755198116292,
 -0.38331366584674503,
 -0.24903503334842078,
 0.20977146738408478,
 1.2875538722102635,
 0.23894203604382444,
 1.136715919057883,
 3.290814363112614,
 0.10403875082883485,
 1716.1347603781574,
 0.07238513768960739,
 -0.6168026901407057,
 -0.047496276891373035,
 0.15521236985440598,
 0.09504245412215825,
 1.2442114225996428,
 -0.5871259089728171,
 0.12296703247066977,
 -0.5917018731769147,
 2.873979437735947,
 4.136833903776053,
 0.5079835141536266,
 0.317907198757182,
 1.3911155199827474,
 1.345475997698464,
 1.6951827942519901,
 0.2121136881191521,
 -1.0,
 -0.08872346672654106,
 1.9807078731128243,
 -0.4463484525953824,
 2.567039209572456,
 0.10091743119266039,
 0.33525768693221547,
 1.7049201553733273,
 0.1553182363900357,
 14.152733900364519,
 0.5266856550514096,
 -0.657265028259569,
 2.022595954370902,
 -0.21058883391933292,
 0.11814345945386823,
 4.744820548428037,
 0.41611931642182565,
 0.7012401294302737,
 1.0112853970016655,
 108.00310021878215,
 33.7341008951671,
 2.9493511163605888,
 7.196930023094855,
 -0.4229561561154251,
 0.2574234779683822,
 0.7026976118398924,
 0.9744597804482766,
 -0.27770443153941454,
 4.13867862768765,
 -0.10958904109589036,
 4.813233423631706,
 -0.09615384615384613,
 -0.35668570705769653,
 1.1353010008584268,
 5.941062265377584,
 -1.0,
 inf,
 2.213731694087549,
 1.3130685830828281,
 2520.3128535703013,
 0.175856799087404,
 -0.2771662562486284,
 -1.0,
 5142.213083669117,
 -0.33839559917740814,
 0.2649273364144993,
 0.6781315605318404,
 140.08621004566209,
 0.9226665271113486,
 1.0856963329086342,
 0.38243816226007626,
 0.3495909700019195,
 0.48826140753620567,
 2.6561970857833317,
 2319.65447545717,
 0.018066864082018647,
 -0.03169057077558574,
 0.12148176291793306,
 0.04043478260869564,
 -0.26796139212623654,
 2401.7088904527322,
 1288.9875345167654,
 0.06156249999999996,
 -1.0,
 0.0621352583586625,
 518.7341121929932,
 0.7408457005204974,
 0.0015181826089018407,
 0.5553404140250594,
 -1.0,
 nan,
 inf,
 0.1765051053381033,
 22.179077250676933,
 4.316352607036267,
 0.18343668825395093,
 -0.38410812833567515,
 0.09989043954809003,
 0.08558066335899847,
 4.888360063402246,
 167.59682434471264,
 4.840063126481941,
 425.0928571428572,
 5.480338477623485,
 0.17327842773879576,
 0.6694709035273491,
 0.20858141731988544,
 0.20202811444017651,
 0.35098164866273257,
 445.1460274436727,
 0.20638844751845958,
 2.4917300359361545,
 -0.6815299155318764,
 -0.03251141755324698,
 -1.0,
 nan,
 -0.021152007765299758,
 -0.10653759090264456,
 0.18770601500979717,
 1.1725610139493359,
 2.742624660197467,
 10.846500530222693,
 3.382972473984559,
 0.46664964711013235,
 0.6456510591923296,
 0.11140267485868094,
 1.1543942575875534,
 0.27362187838953717,
 -0.03237234999590858,
 -0.5354293395634481,
 -0.050613660096242234,
 6.579580591562196,
 2045.7743737692906,
 0.515286242699354,
 0.31690021248674494,
 -0.43987084534478943,
 0.17547472584388277,
 11.664642623038608,
 2.496552942390639,
 0.5660157525960489,
 0.09431564779486842,
 -0.7550649919382129,
 0.01669341402768458,
 0.28697261025918536,
 -0.1119381853012802,
 7.734150083037696,
 0.06547044202562972,
 -0.6382877734562951,
 0.11848606368693647,
 1.2874022377882266,
 0.15062748228998343,
 -0.11951285786510815,
 -1.0,
 1.0094268711039274,
 -0.7842892523434796,
 0.18668823460029624,
 1.3159678677062938,
 -0.23076923076923078,
 1.0008303271839998,
 3.6799868708875283,
 0.8184885423550605,
 2581.0772168484746,
 0.8965710250276568,
 239.3028465146369,
 0.17391562349882742,
 21.266766894849127,
 0.25422288763766276,
 0.5369132579266709,
 44.84921129573932,
 0.39654771147059337,
 2.210779734099892,
 0.601086291537968,
 1.001430568499534,
 0.3013271675565365,
 0.4720197809813181,
 7803.467586565998,
 1.206329065761213,
 0.49687643519713126,
 1.2482097899450948,
 -0.3081560123709239,
 -0.46973933809050056,
 -1.0,
 inf,
 0.7224237148798297,
 0.25260356569294506,
 0.27794210774156675,
 0.016333992094861645,
 3.3225596989407222,
 1.1612802136600677,
 0.8547491825836813,
 1.1063862437497594,
 0.030751478794383332,
 1.2889889889749124,
 -0.7786612052409285,
 25.237084206063283,
 -0.10233645185334819,
 0.177496199323421,
 0.18892168611027113,
 -0.09433962264150944,
 0.15081425289945696,
 -0.3375360762351499,
 -0.4510204605111281,
 0.16312910090516894,
 2.0613571613540467,
 -0.13459132755057407,
 -0.005781044622612066,
 0.23491595714973235,
 0.34959349020427627,
 -0.5070836678809786,
 505.0870177727051,
 0.02227663324835949,
 1.201334356726335,
 0.291583068209183,
 0.8532274128432761,
 -0.2893100341438912,
 0.7196687919756823,
 3.855919860044391,
 1.6978396823757653,
 4.587291966046256,
 -0.25985197039407887,
 -0.6787732045251493,
 2.311824301391233,
 3.3448221023946836,
 0.005956546423974931,
 -0.02608848505892611,
 -0.3281515866284549,
 0.3900356431440362,
 1.3670858760169793,
 -1.0,
 0.9237497132369807,
 2.0584705970038017,
 0.25850836470860594,
 0.11685483870967757,
 0.3047370334525667,
 8.620627178584053,
 1.244508098608603,
 9.205257863687027,
 0.9125071919130124,
 0.4289840703103542,
 3.2473275159712864,
 2.690155440414508,
 246.49884161752317,
 -0.6700754253293422,
 0.16144582404131524,
 0.04375000000000003,
 -1.0,
 21.639404882351418,
 3.299162578441881,
 0.809566815337649,
 -1.0,
 -0.3626759688412988,
 0.39406465485436787,
 0.257201646090535,
 2.7099831121833535,
 0.003775119413946227,
 116.5695852534562,
 0.45602163615239993,
 -0.2099415473575257,
 0.9293932162945291,
 0.0368073499856443,
 33.92745504015996,
 11.01839940915673,
 0.06306715769588842,
 1.8048663558101032,
 0.4111950511408509,
 1.5217620052607226,
 0.26693556727686435,
 -0.3003443898390057,
 0.04824116574412747,
 17.5251692068969,
 0.3726527788423341,
 4.323201835910398,
 0.8594723874366678,
 0.2957210478771451,
 0.10923334750748709,
 -1.0,
 inf,
 0.2891218416561603,
 -0.07374467296646277,
 1.260447293947792,
 2.272914150217797,
 -0.6363522048789306,
 -0.5773629692896598,
 0.46774031497965946,
 -0.027372262773722653,
 0.2689917744456019,
 13.881407017339287,
 0.08246455942392991,
 -0.04498528185856462,
 12.736600227600254,
 0.19999999999999998,
 -0.03206062045454119,
 5.4440907141325345,
 0.1742608080873188,
 0.676633325694694,
 0.8374804848463743,
 0.20960463028442747,
 0.36094995078254494,
 1.3263583254541582,
 0.5220930416524127,
 3.0192073614828576,
 16.660502671963496,
 -1.0,
 inf,
 15.199740736831355,
 0.12102946284941214,
 295.3554700032082,
 0.2699417585034752,
 0.19122094530372427,
 0.4598505730451179,
 756.6297251414045,
 0.36574010301789106,
 -0.7938509938334423,
 4.897435897435898,
 -0.018806352881813745,
 0.1292684626725641,
 8.912448307965446,
 0.07420492763357274,
 0.1887884173529019,
 -0.15165362275879393,
 0.23370498603186168,
 4.103220753360252,
 0.36070129201841367,
 0.7227139581123113,
 0.05362171891059817,
 -1.0,
 nan,
 inf,
 nan,
 inf,
 1.0097683640408142,
 2.7286966339437777,
 -1.0,
 nan,
 inf,
 0.13669936832765542,
 1.2935111194002196,
 -0.03585305373635889,
 2141.2316757219037,
 4.523729542682505,
 -0.6584422933605246,
 0.1445911003238902,
 0.7061801488002694,
 0.9617655093236528,
 -0.036576739672293405,
 -0.3988735552535554,
 -0.053471806500574856,
 0.38547118236733274,
 49.14010256410256,
 6.432900669313578,
 0.07898513174893775,
 3.4271993568495573,
 0.5278787537748767,
 -0.3204510912666747,
 -0.10645093689253739,
 -1.0,
 nan,
 -0.4571848990017066,
 0.2555318415401341,
 0.615290716350787,
 -0.04069286452947257,
 202.74287384582215,
 0.03743801872685239,
 0.9747009517772908,
 1.6453761837288008,
 0.09296385646160159,
 -0.16384089322021408,
 -0.35655060977483166,
 -0.7162967511432794,
 -0.08830022075055191,
 1.1474442459399357,
 293.57146427537214,
 0.9386894838281812,
 -0.2709686157508794,
 1.0118693928635731,
 -0.12126537785588748,
 0.7976063266704029,
 -0.30029953253502634,
 0.3030395136778115,
 1.2029201656169817,
 2.905188035484116,
 3.76474669465072,
 8.923219346762192,
 -1.0,
 nan,
 533.7556571978815,
 3.7014416622587354,
 1.2977246185057778,
 3.530294609314833,
 0.07251122699451461,
 85.652374873641,
 11.454519524703395,
 -0.2100136361030781,
 0.25850836470860594,
 -0.05091519710507726,
 69.48561556189567,
 0.06844919786096264,
 21.789013824105176,
 0.5806410586494529,
 -0.3421279514466524,
 -1.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.47700037336135837,
 0.09493394821499644,
 3.5481050414627338,
 -0.6535606171276458,
 0.5752494219251013,
 0.3541203341012742,
 0.17972631306697773,
 0.11233541203633765,
 8.211478716147706,
 0.09209306144936193,
 0.5919507278129621,
 -1.0,
 inf,
 0.03693136605782804,
 0.03390453741123273,
 -0.05455219826446468,
 0.01901042658501278,
 0.16721725867158685,
 -1.0,
 nan,
 3.499947950562913,
 -0.0936459355399316,
 0.4293126074114403,
 6.785316330320662,
 2.7679876104938925,
 0.2987745289776084,
 0.9754903853467246,
 0.27415611279778507,
 0.7318131800953661,
 0.08941812293428009,
 -0.03217080326758168,
 0.31852422562206756,
 0.002673805338722618,
 3.225456566779928,
 0.31519695093184563,
 2.4703746118698,
 4.058731471559159,
 12.92884148456469,
 6.574351988930076,
 0.25602334867612364,
 0.19588664354896584,
 0.38125132226723546,
 69.62035048832861,
 0.08444011746404768,
 0.24011066034489514,
 3.7842074041524763,
 31.34179096422223,
 0.2761199457732638,
 0.05400825834471189,
 0.8607919979504437,
 1.2020687916681494,
 -0.042709264747166735,
 0.05951313934650427,
 1.191307766851478,
 4.308974254411005,
 -0.7319833213795657,
 0.42869856880793267,
 0.13382181888018596,
 3.4690441960135145,
 0.18999004619333507,
 71.18134339388614,
 -0.3185610401648292,
 0.6946257743340595,
 3.7002579977035093,
 -0.43814666987841433,
 -0.24737642280515473,
 0.06746196619023122,
 0.03388440546627368,
 85.1820212171971,
 10.969265056494246,
 -0.32011437834979906,
 0.4003535895659648,
 -0.086994345367551,
 4.060391723039205,
 0.03319963235435496,
 -0.13811313446330434,
 0.21975775091130845,
 0.3030395136778115,
 1.2029201656169817,
 14.483032642602659,
 101.71047269867283,
 -0.22773666683362123,
 1079.7981225312712,
 0.04613061853107203,
 0.4800884736334019,
 0.16769411277788143,
 0.1799120798889917,
 0.3528063760384041,
 0.3885458390760456,
 10.524881793861258,
 -0.02755720867706049,
 0.8552193737848096,
 5.63328393666178,
 292.8229480737018,
 1.1697091937110458,
 0.7475434694554043,
 2.7863133842851973,
 0.292372637559233,
 0.05744135156308365,
 -1.0,
 nan,
 inf,
 0.29600779137411815,
 9.375542266013314,
 51.77466145918191,
 0.7706042964709281,
 1.8608454106803214,
 2.775514000953958,
 0.24195163933766595,
 0.7429577605747462,
 0.4266273283478094,
 0.2455539801903799,
 0.7051811505160085,
 -0.3812180422761466,
 -0.12638590714088632,
 -1.0,
 inf,
 0.09553639595838281,
 0.7046776571505158,
 0.3976673366969392,
 0.10912963248240705,
 0.5030192393925967,
 1.437573501789351,
 0.7828145767312488,
 0.3394577666989798,
 0.2844326289821047,
 571.9082058414464,
 0.4233063860652701,
 0.7243461565655711,
 149.31395268160688,
 -0.6697843513917892,
 96.03460182094203,
 0.6124094661363929,
 5.829895152047124,
 -0.1715928088297941,
 417.5488628170676,
 0.018712786355838194,
 0.4088032374988823,
 3.385042022430553,
 -0.6602745943910443,
 0.3097697364402188,
 -1.0,
 nan,
 0.9149424799490059,
 0.23009205855637482,
 456.9704994015668,
 0.6394598378054849,
 7.814507115437637,
 -0.08771929824561392,
 -0.28322983187769274,
 0.4957087737815187,
 0.36384619391437995,
 0.35394295456799324,
 1232.4148520379676,
 0.23469443370577156,
 2.48233905902291,
 0.03417751042910996,
 5.881384311979132,
 81.07928594355768,
 -0.14651721377101684,
 0.09805559429570049,
 0.41989977616934215,
 5.761333427547962,

In [25]:
ROI=DataFrame({'Time':rq,
               'ROI':list_roi})
ROI

               Time           ROI
0      1.516234e+09  5.663266e-01
1      1.516234e+09  9.042500e+00
2      1.516234e+09  7.905662e-01
3      1.516234e+09  4.092897e-01
4      1.516234e+09  1.508677e-01
...             ...           ...
10866  1.516234e+09 -1.621499e-01
10867  1.516234e+09 -9.999993e-01
10868  1.516234e+09  7.746961e+06
10869  1.516234e+09  4.802105e+00
10870  1.516234e+09  4.838486e+00

[10871 rows x 2 columns]

In [26]:
df_cryp=df_cryp.merge(ROI,left_on='timestamp',right_on='Time')

In [31]:
df_cryp=df_cryp[df_cryp['ROI']<100000]

In [36]:
df_cryp.to_csv('roi_sales_wallet_rarity_gas_usd.csv')

# Explaination

In [ ]:
#df_cryp=pd.read_csv('https://raw.githubusercontent.com/HCI-Blockchain/ICWSM-2023/main/data/hedonic_data/roi_sales_wallet_rarity_gas_usd.csv')
df_cryp.columns

## Correlation

# Stationay Test

## Augmented Dickey Fuller test (ADF Test)：

零假设为序列有单位根，是非*稳的，P-Value如果小于显著级别(0.05)，则可以拒绝零假设。

In [28]:
from statsmodels.tsa.stattools import adfuller, kpss
df = df_cryp

# ADF Test
result = adfuller(df.Price.values, autolag='AIC')
print(f'ADF Statistic: {result[0]}')
print(f'p-value: {result[1]}')
for key, value in result[4].items():
    print('Critial Values:')
    print(f'   {key}, {value}')

ADF Statistic: -2.322598172667917
p-value: 0.16478315340256638
Critial Values:
   1%, -3.4304898737875784
Critial Values:
   5%, -2.861601821246897
Critial Values:
   10%, -2.5668029054215773

In [33]:
# ADF Test
df = df_cryp
result = adfuller(df.ROI.values, autolag='AIC')
print(f'ADF Statistic: {result[0]}')
print(f'p-value: {result[1]}')
for key, value in result[4].items():
    print('Critial Values:')
    print(f'   {key}, {value}')

ADF Statistic: -31.245106689534538
p-value: 0.0
Critial Values:
   1%, -3.430495617319286
Critial Values:
   5%, -2.8616043597037923
Critial Values:
   10%, -2.5668042565697466

## Kwiatkowski-Phillips-Schmidt-Shin – KPSS test (trend stationary)：

与ADF正好相反，零假设为序列是*稳的。另外，在python中，可以通过指定regression='ct'参数来让kps把“确定性趋势(deterministic trend)”的序列认为是*稳的。

In [34]:
# KPSS Test
result = kpss(df.Price.values, regression='c')
print('\nKPSS Statistic: %f' % result[0])
print('p-value: %f' % result[1])
for key, value in result[3].items():
    print('Critial Values:')
    print(f'   {key}, {value}')

KPSS Statistic: 16.267353
p-value: 0.010000
Critial Values:
   10%, 0.347
Critial Values:
   5%, 0.463
Critial Values:
   2.5%, 0.574
Critial Values:
   1%, 0.739

/usr/local/lib/python3.8/dist-packages/statsmodels/tsa/stattools.py:1875: FutureWarning: The behavior of using nlags=None will change in release 0.13.Currently nlags=None is the same as nlags="legacy", and so a sample-size lag length is used. After the next release, the default will change to be the same as nlags="auto" which uses an automatic lag length selection method. To silence this warning, either use "auto" or "legacy"
  warnings.warn(msg, FutureWarning)
/usr/local/lib/python3.8/dist-packages/statsmodels/tsa/stattools.py:1906: InterpolationWarning: The test statistic is outside of the range of p-values available in the
look-up table. The actual p-value is smaller than the p-value returned.

  warnings.warn(

In [35]:
# KPSS Test
result = kpss(df.ROI.values, regression='c')
print('\nKPSS Statistic: %f' % result[0])
print('p-value: %f' % result[1])
for key, value in result[3].items():
    print('Critial Values:')
    print(f'   {key}, {value}')

KPSS Statistic: 7.052417
p-value: 0.010000
Critial Values:
   10%, 0.347
Critial Values:
   5%, 0.463
Critial Values:
   2.5%, 0.574
Critial Values:
   1%, 0.739

/usr/local/lib/python3.8/dist-packages/statsmodels/tsa/stattools.py:1906: InterpolationWarning: The test statistic is outside of the range of p-values available in the
look-up table. The actual p-value is smaller than the p-value returned.

  warnings.warn(